* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page {
    height: 100vh;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.price-card {
    max-width: 380px;
    height: 770px;
    background-color: #334247;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    margin: 0;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        margin-top: 30px;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 36px;
    }
    &__price {
        margin: 0;
        font-size: 55px;
        line-height: 67px;
        text-align: center;
        color: #FFFFFF;
        background-color: #5BB189;
        padding: 18px 110px;
    }
    &__description {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        margin: 39px 26px 42px 26px;
    }
    &__options-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__options-list-item {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        padding: 16px auto 16px auto;
        display: flex;
        align-items: center;
        height: 50px;
    }
    &__options-list-item:nth-child(odd) {
        background: #2A343850;
        mix-blend-mode: normal;
    }
    &__options-list-mark {
        width: 15px;
        height: 13px;
        margin-left: 22px;
        margin-right: 21px;
    }
    &__order-btn {
        width: 154px;
        height: 41px;
        background-color: #5BB189;
        border-radius: 20px;
        text-align: center;
        margin: auto;
        margin-top: 36px;
        margin-bottom: 42px;
        outline: none;
        border: none;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
    }
}

.second {
    background-color: #3A6BA5;
}

.third {
    background-color: #EC632A;
}

.popular {
    position: absolute;
    top: 31px;
    left: 264px;
    background-color: #DC3F45;
    transform: rotate(45deg);
    height: 25px;
    width: 147px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
